## Data Structures

There are data types like integer, float, boolean, string, etc. Data structures are a data type that store a particular data in them. For example: strings, lists, etc. 


Let us talk about strings:

In [66]:
s="abc"

In [67]:
#To find the length of the string we do:
print(len(s))

#To access the first element of the string, we do 
print(s[0])

#To access the last element of the string, we do
print(s[-1])

3
a
c

In [68]:
#There is a process called slicing which helps to access a part of the string. 
s[0:2]

'ab'

In [69]:
#Construct a new string "Thorsten" with first and last letter swapped
s="Thorsten"
print(s[-1]+s[1:-1]+s[0])

nhorsteT

In [70]:
#Let us call the above swapping as a function swap
def swap(x):
  return x[-1]+x[1:-1]+x[0]

In [71]:
swap(s)

'nhorsteT'

In [72]:
swap(swap(s))

'Thorsten'

In [73]:
swap("")

#swap does not work on empty string as empty string has no index at all so even index 0 is out of range.

IndexError: ignored

Just like strings are sequences of characters, lists are also sequences of anyhing stored in them, for example, numbers.

In [74]:
#Let us define a list ls
ls=[1,2,3]
ls

[1, 2, 3]

In [75]:
type(ls)

list

A list can store integers, boolean, float, strings, etc. all at the same time. For example:

In [76]:
ls=[1,2.3,"pink",[1,5,8]]

In [77]:
#We can convert a list into string and a string into list:
lis=list(s)
lstring=str([1,2,3])
print(lis)
print(lstring)

TypeError: ignored

In [79]:
#Example 1
ls[0]+ls[3]

TypeError: ignored

In [80]:
#Example 2
ls+[123]

[1, 2.3, 'pink', [1, 5, 8], 123]

Note the two examples above. In Example 1, we were concatenating an integer with a list, which are different data types and hence, an error. However, in example 2, we are concatenating a list with a list, and so it works, due to compatible data types.

In [81]:
#All the operations that we used on strings, also work for lists. There is another additional operation as:
ls[3][2]

8

Here, `ls[3]` accessed the element at index 3 which is a list `[3,5,8]` and `ls[3][2]` accessed the second element of `ls[3]` which is `8`. Hence, the output returned is `8`.

In [82]:
#Since a list has the possibility of containing varied data types, it is not always essential that our `swap` function defined above will work for lists. 
#So, we can make it work by enclosing it within []:
def swap_for_lists(x):
  return [x[-1]]+x[1:-1]+[x[0]]

In [83]:
swap_for_lists(ls)

[[1, 5, 8], 2.3, 'pink', 1]

In [ ]:
swap(ls) #The swap function for strings does not work here as we cannot concatenate integers with lists or strings, hence, raises error

In [85]:
def swap_for_all(x):
  return x[-1:]+x[1:-1]+x[:1]

In [86]:
swap_for_all(ls)

[[1, 5, 8], 2.3, 'pink', 1]

In [87]:
swap_for_all(s)

'nhorsteT'

Our new function `swap_for_all` works for both strings and lists. The reason for this is that while indexing may work only for strings, slicing works for both strings and lists.

A very important difference between lists and strings is that strings are immutable. What does this mean?

In [88]:
print(s)
#Let us change `s[0]` to be 'z':
s[0]='z'
print(s)

Thorsten

TypeError: ignored

As one can see, this raises an error. What does this mean? It simply means that it is not possible for us to change any value in a string, once we have defined it. However it is not the same for lists.

In [91]:
print(ls)
ls[0]='pk'
print(ls)

[1, 2.3, 'pink', [1, 5, 8]]
['pk', 2.3, 'pink', [1, 5, 8]]

In [89]:
me="Blue"
mels=list(me)
mels

['B', 'l', 'u', 'e']

Let us now try swapping our list using the swap concept we had defined above:

In [90]:
mels[0]=mels[-1]
mels[-1]=mels[0]
mels

['e', 'l', 'u', 'e']

Well, this is not what we had in mind. We expected the `swap` to make `mels` to be `['e','l','u','B']` but it first substituted `mels[0]` with `e` and then `e` with `e` again. So, what do we do as an alternate? 

Let us create a `help_swap` that stores the original value of `mels[0]`

In [92]:
mels=list("Blue")
help=mels[0]
mels[0]=mels[-1]
mels[-1]=help
mels

['e', 'l', 'u', 'B']

Notice that this works just fine now! Let us, therefore, create a function `swap_for_lists` using this concept:

In [93]:
def swap_for_list(x):
  help=x[0]
  x[0]=x[-1]
  x[-1]=help

swap_for_list(mels)

Clearly we cannot pass string into `swap_for_list` as it does not support string assignment.

So how do we create a swap for lists and strings that works just like `swap_for_list` does?

Another very valid question to ask here is : what is the difference between `swap_for_lists` and `swap_for_list`?

The former function does not change the list but returns a new list, while the latter changes the list.

Let us try writing a `swap_for_list` function for strings. Note that while we cannot do string assignment we can change the variable containing the string.

In [94]:
me="Pink"
me=swap(me)
me

'kinP'

In [95]:
def swap_for_string(x):
  s=swap(x)

x="Pink"
swap_for_string(x)

In [96]:
x

'Pink'

Clearly, nothing happened to `x`. It remained unchanged because the changed string was copied into `s` whose scope was restricted to the scope of the function. To make it return the changed string, we will have to do the following:

In [98]:
def swap_for_string():
  global x
  x=swap(x)

x="Pink"
swap_for_string()
print(x)

kinP

This brings us to the following definitions:


*   Local variable: A local variable is referenced in the function or block in which it is declared overrides the same variable name in the larger scope.
*   Global variable: A global variable is a variable with global scope, meaning that it is visible throughout the program.

*NOTE*: The exercises for the chapter 2 of the book 'Conceptual Programming with Python' by Thorsten Altenkirch and Isaac Triguero has been solved and can be accessed [here](https://github.com/cyclotomicextension/Conceptual_Programming_with_Python_solutions). 

Jupyter Notebook of this topic is also accessible in the same repository.